
<header class="header">
  <%= link_to tickets_path, style: "color: #9B9BC3; text-decoration: none;" do %>
    <h2 style="font-size: 24px;">Ticket Time Tracker</h2>
  <% end %>
</header>

<div class="existing">
  <h3 style="font-size: 20px; font-weight: 500">Existing Tickets</h3>
</div>

<div class="dispaly_page1">
  <div class="data_table">
    <table>
      <thead>
        <tr>
        <th style="font-size: 13.02px; font-style: italic; font-weight: normal; font-family: 'Arial', sans-serif;">Ticket</th>
        <th style="font-size: 13.02px; font-style: italic; font-weight: normal; font-family: 'Arial', sans-serif;">Time Logged</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td class="dumy-class">
              <img src="/assets/123.png" title="This is a tooltip text" width="21.51" height="21.51" alt="Image description">
              <%= link_to ticket.summary, edit_ticket_path(ticket), data: { turbo: false }, class: 'disabled-link', style: "color: #000000; font-weight: 500; font-size: 13.02px;"   %>
            </td>
            <td>
              <% if ticket.hours.nil? || ticket.hours.zero? %>
                <h2 style="font-weight: 400; font-size: 13.02px; display: inline;">no time logged.</h2> <%= link_to "Log Time", edit_ticket_path(ticket), data: { turbo: false }, style: "color: #000000; font-weight: 500; font-size: 13.02px; margin-left: 10px;" %>
                <% else %>
                <span style="font-weight: 400; font-size: 13.02px;"><%= ticket.formatted_time %></span>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>



  <div class="form2">
    <h4 class= text-class> Select an existing ticket to log time <h4>
    <h4 class= or-class> Or </h4>
    <h4 class= create-class><%= link_to "Create a new one", new_ticket_path, data: { turbo: false }, style: "color: #000000;" %> </h4>
    <div class = "texttt">
      <input type = "text" class="text-field">
      <input type = "text" class="text-field">
      <input type = "text" class="text-field1">
      <input type = "text" class="text-field1">
    </div>
  <div>
<div>