<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ticket Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

  </head>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const focusLink = document.getElementById("focus-link");
    const hoursInput = document.getElementById("hours-input");

    if (focusLink && hoursInput) {
      focusLink.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default link behavior
        hoursInput.focus(); // Move the cursor to the input field
      });
    }
  });
</script>

  <body>
    <% if flash[:notice] %>
      <p class="flash flash-notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
   <% end %>     

  <%= yield %>
    
  </body>
</html>
